.pio
.vscode
.idea
.npm
.DS_Store

# files generated when node-red is started
.config.nodes.json
.config.nodes.json.backup
.config.runtime.json
.config.users.json
.flows.json.backup
.flows_cred.json.backup
.sessions.json
flows_cred.json
node_modules
