.pio
.vscode
.idea
.npm


# files generated when node-red is started
.config.nodes.json
.config.nodes.json.backup
.config.runtime.json
.config.users.json
.flows.json.backup
.flows_cred.json.backup
.sessions.json
flows_cred.json
node_modules
.DS_Store
.DS_Store
Env-Node-Red/.config.users.json.backup
.DS_Store
.DS_Store
