<!--<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <p>{{ card | json}}</p>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>  
</div> -->

<!--<div class="chart-wrapper">
  <canvas baseChart
      [datasets]="lineChartData" 
      [labels]="lineChartLabels" 
      [options]="lineChartOptions"
      [colors]="lineChartColors" 
      [legend]="lineChartLegend" 
      [chartType]="lineChartType" 
      [plugins]="lineChartPlugins">
  </canvas>
</div>-->

